<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.okjiaoyu.auto.dao.CatalogEntityMapper">
  <resultMap id="BaseResultMap" type="com.okjiaoyu.auto.vo.CatalogEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="protocol_id" jdbcType="INTEGER" property="protocolId" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="env_id" jdbcType="INTEGER" property="envId" />
    <collection property="children" ofType="com.okjiaoyu.auto.vo.CatalogEntity" column="id" select="queryCatalogMap"></collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, pid, protocol_id, icon, level, env_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from entity_catalog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from entity_catalog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.okjiaoyu.auto.vo.CatalogEntity">
    insert into entity_catalog (id, name, pid, 
      protocol_id, icon, level, 
      env_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, 
      #{protocolId,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, 
      #{envId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.okjiaoyu.auto.vo.CatalogEntity">
    insert into entity_catalog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="protocolId != null">
        protocol_id,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="envId != null">
        env_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="protocolId != null">
        #{protocolId,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="envId != null">
        #{envId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.okjiaoyu.auto.vo.CatalogEntity">
    update entity_catalog
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="protocolId != null">
        protocol_id = #{protocolId,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="envId != null">
        env_id = #{envId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.okjiaoyu.auto.vo.CatalogEntity">
    update entity_catalog
    set name = #{name,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      protocol_id = #{protocolId,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      env_id = #{envId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryCatalogList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from entity_catalog
    WHERE pid ='' or pid is NULL

  </select>
  <select id="queryCatalogMap" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from entity_catalog
    WHERE pid = #{id}
  </select>

</mapper>