<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.okjiaoyu.auto.dao.CookieEntityMapper">
  <resultMap id="BaseResultMap" type="com.okjiaoyu.auto.vo.CookieEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="c_key" jdbcType="VARCHAR" property="cKey" />
    <result column="c_key" jdbcType="VARCHAR" property="cKey" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="case_id" jdbcType="INTEGER" property="caseId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="cas_login_id" jdbcType="INTEGER" property="casLoginId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.okjiaoyu.auto.vo.CookieEntity">
    <result column="c_value" jdbcType="LONGVARCHAR" property="cValue" />
  </resultMap>
  <sql id="Base_Column_List">
    id, c_key, domain, expire_time, case_id, create_time, update_time, cas_login_id
  </sql>
  <sql id="Blob_Column_List">
    c_value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from entity_cookie
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from entity_cookie
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.okjiaoyu.auto.vo.CookieEntity">
    insert into entity_cookie (id, c_key, domain,
      expire_time, case_id, create_time,
      update_time, cas_login_id, c_value
      )
    values (#{id,jdbcType=INTEGER}, #{cKey,jdbcType=VARCHAR}, #{domain,jdbcType=VARCHAR},
      #{expireTime,jdbcType=TIMESTAMP}, #{caseId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{casLoginId,jdbcType=INTEGER}, #{cValue,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.okjiaoyu.auto.vo.CookieEntity">
    insert into entity_cookie
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cKey != null">
        c_key,
      </if>
      <if test="domain != null">
        domain,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="caseId != null">
        case_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="casLoginId != null">
        cas_login_id,
      </if>
      <if test="cValue != null">
        c_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cKey != null">
        #{cKey,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="caseId != null">
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="casLoginId != null">
        #{casLoginId,jdbcType=INTEGER},
      </if>
      <if test="cValue != null">
        #{cValue,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.okjiaoyu.auto.vo.CookieEntity">
    update entity_cookie
    <set>
      <if test="cKey != null">
        c_key = #{cKey,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        domain = #{domain,jdbcType=VARCHAR},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="caseId != null">
        case_id = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="casLoginId != null">
        cas_login_id = #{casLoginId,jdbcType=INTEGER},
      </if>
      <if test="cValue != null">
        c_value = #{cValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.okjiaoyu.auto.vo.CookieEntity">
    update entity_cookie
    set c_key = #{cKey,jdbcType=VARCHAR},
      domain = #{domain,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      case_id = #{caseId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      cas_login_id = #{casLoginId,jdbcType=INTEGER},
      c_value = #{cValue,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.okjiaoyu.auto.vo.CookieEntity">
    update entity_cookie
    set c_key = #{cKey,jdbcType=VARCHAR},
      domain = #{domain,jdbcType=VARCHAR},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      case_id = #{caseId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      cas_login_id = #{casLoginId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
