<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blingabc.auto.dao.DubboEntityMapper">
  <resultMap id="BaseResultMap" type="com.blingabc.auto.vo.DubboEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="request_service_name" jdbcType="VARCHAR" property="requestServiceName" />
    <result column="request_method_name" jdbcType="VARCHAR" property="requestMethodName" />
    <result column="request_bean_name" jdbcType="VARCHAR" property="requestBeanName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, request_service_name, request_method_name, request_bean_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from entity_dubbo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from entity_dubbo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blingabc.auto.vo.DubboEntity">
    insert into entity_dubbo (id, request_service_name, request_method_name, 
      request_bean_name)
    values (#{id,jdbcType=INTEGER}, #{requestServiceName,jdbcType=VARCHAR}, #{requestMethodName,jdbcType=VARCHAR}, 
      #{requestBeanName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blingabc.auto.vo.DubboEntity">
    insert into entity_dubbo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="requestServiceName != null">
        request_service_name,
      </if>
      <if test="requestMethodName != null">
        request_method_name,
      </if>
      <if test="requestBeanName != null">
        request_bean_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="requestServiceName != null">
        #{requestServiceName,jdbcType=VARCHAR},
      </if>
      <if test="requestMethodName != null">
        #{requestMethodName,jdbcType=VARCHAR},
      </if>
      <if test="requestBeanName != null">
        #{requestBeanName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blingabc.auto.vo.DubboEntity">
    update entity_dubbo
    <set>
      <if test="requestServiceName != null">
        request_service_name = #{requestServiceName,jdbcType=VARCHAR},
      </if>
      <if test="requestMethodName != null">
        request_method_name = #{requestMethodName,jdbcType=VARCHAR},
      </if>
      <if test="requestBeanName != null">
        request_bean_name = #{requestBeanName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blingabc.auto.vo.DubboEntity">
    update entity_dubbo
    set request_service_name = #{requestServiceName,jdbcType=VARCHAR},
      request_method_name = #{requestMethodName,jdbcType=VARCHAR},
      request_bean_name = #{requestBeanName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>