<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blingabc.auto.dao.RequestWayVOMapper">
  <resultMap id="BaseResultMap" type="com.blingabc.auto.beans.RequestWayVO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="way" jdbcType="VARCHAR" property="way" />
  </resultMap>
  <sql id="Base_Column_List">
    id, way
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from request_way
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from request_way
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blingabc.auto.beans.RequestWayVO">
    insert into request_way (id, way)
    values (#{id,jdbcType=INTEGER}, #{way,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blingabc.auto.beans.RequestWayVO">
    insert into request_way
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="way != null">
        way,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="way != null">
        #{way,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blingabc.auto.beans.RequestWayVO">
    update request_way
    <set>
      <if test="way != null">
        way = #{way,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blingabc.auto.beans.RequestWayVO">
    update request_way
    set way = #{way,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from request_way
  </select>
</mapper>